*{
    margin: 0;
}

:root {
    --primary-color: #0A369D;
    --secondary-color: #4472CA;
    --accent1-color: #5E7CE2;
    --accent2-color:#92b4f4;
}

header{

    background-color: var(--primary-color);
}

h1{
  background-color: var(--primary-color);
  font-size: 45px;
  padding: 1rem;
  text-align: center;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    line-height: 1.5;
    font-family: "Prompt", sans-serif;
}

/* Navegation of html */
nav{
    display: flex;
    background-color: var(--accent2-color);
}

nav a,
nav a:visited {
    color:black;
    font-size: xx-large;
    flex: 1 1 100%;
    display: block;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    background-color: var(--brown);
    font-weight: 600;
  }

/* Main, cards and blocks */
main{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

/* Card 1 */
.card-1 {
    display: grid;
    border: solid black 1px;
    border-radius: 21px;
}

.card-1 h2{
    display: flex;
    justify-content: center;
    background-color: #0A369D;
    font-size: x-large;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 6px;
    color: white;
    margin-bottom: 4px;
}

/* Block within card 1 */
.block-1{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    justify-items: center;
    margin: 20px;
}

.block-1 img{
    width: 250px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.about-me {
    font-size: 27px;
    margin: 40px 10px 0px 0px;
}

.state{
    border-bottom: solid 1px gray;
    font-size: xx-large;
}

/* Block 2 within card 1 */


.block-2 {
    display: flex;
    justify-content: space-around;
}

.block-2 p{
    font-size: 27px;
    padding: 10px;
}
.flag{
    padding-left: 20px;
    padding-bottom: 20px;
}
.flag img {
    width: 300px;
}

.flag figcaption {
    font-size: large;
    padding-left: 60px;
}


/* Card 2 - Links of Resources */
.card-2 {
    display: grid;
    grid-template-rows: 0fr 0fr;
    border: solid black 1px;
    border-radius: 20px;
    margin: 0 4px;
}
.card-2 h2{
    display: flex;
    justify-content: center;
    background-color: #0A369D;
    font-size: x-large;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 4px;
    color: white;
    margin-bottom: 20px;
}

/* Organization of links within card 2 */

.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

li a{
    display: flex;
    text-decoration: none;
    font-size: 35px;
    color: var(--secondary-color);
}

li a:hover{
    text-decoration: underline;
    color: var(--accent2-color) ;
}


.highlight {
    color: yellow;
    font-size: smaller;
}
  
/* Footer */

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: xx-large;
    color: white;
}
footer p {
    margin: 0;
    text-align: center;
}