*{
    margin: 0;
}

:root {
    --primary-color:  #FDB833;
    --secondary-color: #FFD07BCA;
    --accent1-color: #B1740F;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--primary-color);
    padding: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"PT serif", sans-serif;
}


a {
    font-size: x-large;
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: white;
    border: solid 2px var(--accent1-color);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
.home {
    font-weight: 700;
    border-bottom: 1px solid #777; 
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

main{
    max-width: 900px;
    margin: 1.5rem auto;
}

main img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.figure-container{
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 35px;
    place-items: center;  
} 

.highlight {
    color: rgb(89, 0, 0);
    font-size: smaller;
}

footer{
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: x-large;
}

